*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.timer-top-right {
    text-align: right;
    margin: 0px; 
}

#highscores {
    margin: 0; 
    text-align: left;
    color: blue;
    cursor: pointer;
}

/* Body */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
}

.card {
    display: block;
    background-color:#FFFFE0;;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 80px auto;
    padding: 20px;
    width: 60vw;
  }

  .container {
    margin: auto;
    width: 100%;
    height: 10px;
    text-align: center;
  }

.start-button {
    text-align: center;
    margin: 2px auto;
    padding: 10px;
}


/* Styling for quiz */
#question {
    display: block;
    background-color:#b2afc0;;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 80px auto;
    padding: 20px;
    width: 60vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}

#options {
    display: block;
    background-color:#aeaff1;;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 20px auto;
    padding: 20px;
    width: 60vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}

#options label {
    display: block;
    margin-bottom: 10px;
}

#result {
    display: block;
    background-color: #aeaff1;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 20px auto;
    padding: 20px;
    width: 60vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}

#question, #options, #result {
    display:none;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 8px;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #888;
    font-size: 20px;
    cursor: pointer;
  }